# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Testing & Coverage
.pytest_cache/
.coverage/

# Type checking & Linting
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/
*.swp

# macOS
.DS_Store
